/* 
     Author : Azhar Hussain Masum
     Email: azharhussain4647@gmail.com
     Website:http://www.azharmasum.com
     Facebook: https://www.facebook.com/azhar.hussainmasum
*/

/*.nivo-directionNav a {
    color: red;
    font-size: 40px;
}*/